@font-face {
    font-family: Poppins;
    src: url(./font/Poppins/Poppins-Regular.ttf);
}
* {
    margin: 0px;
    margin-bottom: 0px;
    font-family: Poppins;
}
.whiteTheme {
    background-color: #fff !important;
    /* .coinMainDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
   }
    */
}
.whiteTheme .navbar {
    background-color: transparent;
    color: black;
}
.whiteTheme .navbar-brand img {
    width: 202.2px;
    height: 73.17px;
}
.whiteTheme .navbar-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.whiteTheme .navbar .nav-link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #000 !important;
}
.whiteTheme .navbar .nav-item {
    margin-left: 64px;
}
.whiteTheme .Login .nav-link {
    width: 180px;
    height: 41px;
    border-radius: 20.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #fff !important;
}
.whiteTheme .SignUp {
    margin-left: 23px !important;
}
.whiteTheme .SignUp .nav-link {
    width: 180px;
    height: 41px;
    border-radius: 20.5px;
    background: transparent;
    border: 1px solid #000;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #000;
}
.whiteTheme .containDiv {
    max-width: 1408px;
    width: 100%;
}
.whiteTheme .section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.whiteTheme .section1 .sec1Text h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    color: #000;
}
.whiteTheme .section1 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.whiteTheme .section1 .sec1Text p {
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    /* line-height: 12px;
    */
    text-align: left;
    color: #000;
    opacity: 0.55;
    margin-top: 32px;
}
.whiteTheme .section1 .sec1Text button {
    width: 233px;
    height: 53px;
    border-radius: 26.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border: none;
}
.whiteTheme .section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 158px;
}
.whiteTheme .section2 .innerSection .smallheading {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000;
    opacity: 0.55;
}
.whiteTheme .section2 h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #000;
}
.whiteTheme .section2 .sec2Des {
    font-family: Poppins;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #000;
    opacity: 0.55;
}
.whiteTheme .coinMainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 158px;
}
.whiteTheme .coinDiv {
    width: 16%;
    /* padding: 0px 30px;
    */
}
.whiteTheme .coin h3 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    color: #000;
    margin-bottom: 11px;
}
.whiteTheme .coinDetaol {
    display: flex;
    justify-content: space-between;
}
.whiteTheme .coin img {
    width: 118px;
    height: 118px;
    margin-bottom: 17px;
}
.whiteTheme .coinDetaol .detail p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: left;
    color: #000;
    opacity: 0.53;
}
.whiteTheme .coinDetaol .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.whiteTheme .coinDetaol .price p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-align: right;
    color: #000;
    margin-bottom: 5px !important;
}
.whiteTheme .centerButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 63px;
}
.whiteTheme .centerButtonDiv button {
    width: 227px;
    height: 45px;
    border-radius: 22.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #fff;
    border: none;
}
.whiteTheme .section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 146.1px;
}
.whiteTheme .section3 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.whiteTheme .section3 .sec3Text h5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    color: #000;
    opacity: 0.39;
    text-align: left;
}
.whiteTheme .section3 .sec3Text h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #000;
}
.whiteTheme .section3 .sec3Text p {
    font-family: Poppins;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: #000;
}
.whiteTheme .section3 .sec3Text button {
    width: 293px;
    height: 55px;
    border-radius: 27.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
}
.whiteTheme .section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 146.1px;
}
.whiteTheme .section4 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.whiteTheme .section4 .sec4Text h5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    color: #000;
    opacity: 0.39;
    text-align: left;
}
.whiteTheme .section4 .sec4Text h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #000;
}
.whiteTheme .section4 .sec4Text p {
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #000;
}
.whiteTheme .section4 .sec4Text button {
    width: 293px;
    height: 55px;
    border-radius: 27.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
}
.whiteTheme .section4 .imageDiv {
    padding: 0px 13px;
}
.whiteTheme .section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.whiteTheme .section5 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.whiteTheme .section5 .percents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.whiteTheme .section5 .percents .up {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    color: #000;
    margin-bottom: 15px;
}
.whiteTheme .section5 .percents h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 90px;
    text-align: left;
    margin-bottom: 14px;
    color: #000;
}
.whiteTheme .section5 .percents .cryptos {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    color: #000;
}
.whiteTheme .section5 .percentsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
.whiteTheme .section6 {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 151px;
}
.whiteTheme .section6 .sec6Links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 150px 10px 182px;
}
.whiteTheme .section6 .sec6Links .rowDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.whiteTheme .section6 .sec6Links .linkDiv {
    width: 50%;
}
.whiteTheme .section6 .sec6Links .linkDiv h5,
.whiteTheme .section6 .sec6Links .linkDiv p {
    font-family: Poppins;
    /* font-weight: bold;
    */
    font-size: 30px;
    text-align: left;
    color: #000;
}
.whiteTheme .section7 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.whiteTheme .section7 .innerSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.whiteTheme .section7 .startTrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
}
.whiteTheme .section7 .startTrade h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #000;
    margin-bottom: 25px;
}
.whiteTheme .section7 .startTrade .registerBtn {
    width: 376px;
    height: 69px;
    border-radius: 34.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: #fff;
    text-align: center;
    border: none;
    margin-right: 47px;
}
.whiteTheme .section7 .startTrade .tradeBtn {
    width: 376px;
    height: 69px;
    border-radius: 34.5px;
    text-align: center;
    background: #dadada;
    border: 1px solid #707070;
    font-family: Poppins;
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: #343434;
    text-align: center;
    border: none;
}
.whiteTheme footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    margin-top: 89px;
}
.whiteTheme footer .innerFooter {
    padding: 50px;
}
.whiteTheme footer .footerHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.whiteTheme footer .footerHeading img {
    width: 249.93px;
    height: 84px;
}
.whiteTheme footer .footerHeading h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #000;
}
.whiteTheme .footerLinkDiv {
    display: flex;
    /* align-items: center;
    */
    justify-content: space-between;
    margin-top: 105px;
}
.whiteTheme .footerLinkDiv h2 {
    font-family: Poppins;
    font-size: 29px;
    text-align: left;
    color: #000 !important;
}
.whiteTheme .footerLinkDiv a {
    font-family: Poppins;
    font-size: 25px;
    text-align: left;
    color: #000 !important;
}
.whiteTheme .footerLinkDiv .linkDiv {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    */
    flex-direction: column;
}
.whiteTheme .section8 {
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whiteTheme .section8 .section8Inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whiteTheme .section8 .imageDiv {
    width: 50%;
}
.whiteTheme .section8 .imageDiv img {
    width: 100%;
}
.whiteTheme .section8 .sec8Text h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #000;
}
.whiteTheme .section8 .sec8Text p {
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #000;
}
.whiteTheme .section8 .sec8Text button {
    width: 293px;
    height: 55px;
    border-radius: 27.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
}
.whiteTheme .section9 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    margin-top: 153px;
}
.whiteTheme .section9 .innerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whiteTheme .section9 .contactUs h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    color: #2e2e2e;
}
.whiteTheme .section9 .contactUs p {
    font-family: Poppins;
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: #343434;
}
.whiteTheme .section9 .sec9Image {
    width: 698px;
    height: 698px;
}
.whiteTheme .section9 .sec9Image img {
    height: 100%;
}
.whiteTheme footer {
    background-color: white !important;
}

@media screen and (max-width: 1500px) {
    .whiteTheme {
        background-color: #fff !important;
    }
    .whiteTheme .containDiv {
        max-width: unset !important;
        width: 100%;
        padding: 0px 30px;
    }
    .whiteTheme .section1 .sec1Text h2,
    .whiteTheme .section2 h2,
    .whiteTheme .section3 .sec3Text h2,
    .whiteTheme .section4 .sec4Text h2,
    .whiteTheme .section7 .startTrade h2,
    .whiteTheme .footerHeading h2,
    .whiteTheme .section8 .sec8Text h2,
    .whiteTheme .section9 .contactUs h2 {
        font-size: 46px !important;
        line-height: 60px !important;
    }
    .whiteTheme .section1 .sec1Text p {
        font-size: 15px;
    }
    .whiteTheme .section1 .sec1Text button {
        width: 213px;
        height: 43px;
        font-size: 18px;
    }
    .whiteTheme .section1 .sec1Text {
        padding: 0px 82px 0px 0px;
    }
    .whiteTheme .section1 .sec1Image img {
        width: 566px;
    }
    .whiteTheme .section2 .innerSection .smallheading {
        font-size: 16px;
    }
    .whiteTheme .section2 .sec2Des {
        font-size: 21px;
    }
    .whiteTheme .coin img {
        width: 68px;
        height: 68px;
        margin-bottom: 17px;
    }
    .whiteTheme .coin h3 {
        font-size: 40px;
        margin-bottom: 4px;
        line-height: 40px;
    }
    .whiteTheme .coinDetaol .detail p {
        font-size: 14px;
        line-height: 20px;
    }
    .whiteTheme .coinDetaol .price p {
        font-size: 15px;
        line-height: 19px;
    }
    .whiteTheme .coinDetaol .price svg {
        width: 17px;
    }
    .whiteTheme .coinMainDiv {
        padding: 0px 90px;
    }
    .whiteTheme .section3 .sec3Text h5 {
        font-size: 21px;
    }
    .whiteTheme .section3 .sec3Text p {
        font-size: 16px;
    }
    .whiteTheme .section3 .sec3Text button {
        width: 263px;
        height: 49px;
        font-size: 16px;
    }
    .whiteTheme .sec3Image {
        width: 522px;
    }
    .whiteTheme .sec3Image img {
        width: 100%;
    }
    .whiteTheme .section4 .sec4Text h5 {
        font-size: 21px;
    }
    .whiteTheme .section4 .sec4Text p {
        font-size: 16px;
    }
    .whiteTheme .section4 .sec4Text button {
        width: 263px;
        height: 49px;
        font-size: 16px;
    }
    .whiteTheme .sec4Image {
        width: 522px;
    }
    .whiteTheme .sec4Image img {
        width: 100%;
    }
    .whiteTheme .section5 .percents .up {
        font-size: 15px;
        margin: 5px;
    }
    .whiteTheme .section5 .innerSection {
        padding: 0px 90px;
    }
    .whiteTheme .section5 .percents h2 {
        font-size: 60px;
        margin: 4px;
    }
    .whiteTheme .section5 .percents .cryptos {
        font-size: 21px;
    }
    .whiteTheme .percentsDiv svg {
        width: 30px;
    }
    .whiteTheme .section6 .sec6Links {
        padding: 100px 40px;
    }
    .whiteTheme .section6 .sec6Links .linkDiv h5,
    .whiteTheme .section6 .sec6Links .linkDiv p {
        font-size: 20px;
    }
    .whiteTheme .sec6Image img {
        width: 680px;
    }
    .whiteTheme .section7 .startTrade .registerBtn,
    .whiteTheme .section7 .startTrade .tradeBtn {
        width: 256px;
        height: 55px;
        font-size: 20px;
    }
    .whiteTheme .footerLinkDiv h2 {
        font-size: 23px;
    }
    .whiteTheme .footerLinkDiv a {
        font-size: 17px;
    }
    .whiteTheme footer .footerHeading img {
        width: 199.93px;
        height: auto;
    }
    .whiteTheme .section6 .innerSection {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .whiteTheme .sec6Links {
        width: 80%;
    }
    .whiteTheme .navbar .nav-item {
        margin-left: 34px;
    }
    .whiteTheme .section8 .sec8Text p,
    .whiteTheme .section9 .contactUs p {
        font-size: 16px;
    }
    .whiteTheme .section9 .sec9Image {
        width: 558px;
        height: 558px;
    }
}
@media screen and (max-width: 600px) {
    .whiteTheme {
        background-color: #fff !important;
    }
    .whiteTheme .section1 .innerSection {
        flex-direction: column-reverse;
    }
    .whiteTheme .sec1Image img {
        width: 100% !important; 
    }
    .whiteTheme .section5 .innerSection {
        flex-direction: column;
    }
    .whiteTheme .section5 .percents .cryptos {
        text-align: center;
    }
    .whiteTheme .sec6Image img {
        width: 100%;
    }
    .whiteTheme footer .footerHeading {
        flex-direction: column;
    }
    .whiteTheme .footerLinkDiv {
        flex-wrap: wrap;
    }
    .whiteTheme .section1 .sec1Text {
        padding: 0px;
    }
    .whiteTheme .section1 .sec1Text h2,
    .whiteTheme .section2 h2,
    .whiteTheme .section3 .sec3Text h2,
    .whiteTheme .section4 .sec4Text h2,
    .whiteTheme .section7 .startTrade h2,
    .whiteTheme .section8 .sec8Text h2,
    .whiteTheme .footerHeading h2,
    .whiteTheme .section9 .innerSection .contactUs h2 {
        text-align: center !important;
        font-size: 31px !important;
        line-height: 36px !important;
        margin-top: 20px;
    }
    .whiteTheme .section1 .sec1Text p {
        text-align: center;
    }
    .whiteTheme .sec1Text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .whiteTheme .section2 {
        margin-top: 48px;
    }
    .whiteTheme .coinMainDiv {
        flex-wrap: wrap;
        padding: 0px;
    }
    .whiteTheme .coinDiv {
        width: 43%;
        padding: 0px;
        margin: 10px;
    }
    .whiteTheme .coin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .whiteTheme .section3 {
        margin-top: 66px;
    }
    .whiteTheme .section3 .innerSection {
        flex-direction: column-reverse;
    }
    .whiteTheme .sec3Image {
        width: 100%;
    }
    .whiteTheme .section3 .sec3Text,
    .whiteTheme .sec4Text {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* align-items: center;
        */
    }
    .whiteTheme .section3 .sec3Text h5 {
        text-align: center;
    }
    .whiteTheme .section3 .sec3Text p {
        text-align: center;
    }
    .whiteTheme .section4 {
        margin-top: 66px;
    }
    .whiteTheme .section4 .innerSection {
        flex-direction: column;
    }
    .whiteTheme .section4 .sec4Image {
        width: 100%;
    }
    .whiteTheme .sec4Text p {
        text-align: center !important;
    }
    .whiteTheme .section5 .innerSection {
        padding: auto !important;
    }
    .whiteTheme .section6 .sec6Links {
        padding: 40px 0px !important;
        width: 100%;
    }
    .whiteTheme .section6 .sec6Links .rowDiv {
        align-items: flex-start !important;
    }
    .whiteTheme .section6 .sec6Links .linkDiv h5,
    .whiteTheme .section6 .sec6Links .linkDiv p {
        font-size: 15px;
    }
    .whiteTheme .tradeBtnDiv {
        display: flex;
    }
    .whiteTheme .section7 .startTrade .registerBtn {
        margin-right: 7px;
    }
    .whiteTheme .section7 .startTrade .registerBtn,
    .whiteTheme .section7 .startTrade .tradeBtn {
        width: 156px;
        height: 45px;
        font-size: 16px;
    }
    .whiteTheme .section6 {
        margin-top: 60px;
    }
    .whiteTheme footer .footerHeading img {
        width: 160px;
    }
    .whiteTheme footer .innerFooter {
        padding: 50px 30px;
    }
    .whiteTheme footer .innerFooter {
        padding: 50px 20px;
    }
    .whiteTheme .footerLinkDiv .linkDiv {
        width: 50%;
        margin-bottom: 20px;
    }
    .whiteTheme .nav-item.Login {
        margin-left: 23px;
        margin-bottom: 10px;
    }
    .whiteTheme .navbar-text {
        justify-content: flex-start;
    }
    .whiteTheme .container-fluid.containDiv {
        padding: 0px;
    }
    .whiteTheme .navbar-light .navbar-text {
        box-shadow: 0px 29px 25px -37px black;
    }
    .whiteTheme .navbar-toggler.collapsed {
        margin-right: 10px;
    }
    .whiteTheme .navbar-brand {
        padding: 10px;
    }
    .section8 .section8Inner {
        flex-direction: column;
    }
    .section8 .section8Inner .imageDiv {
        width: 100%;
    }
    .whiteTheme .section8 .sec8Text p,
    .whiteTheme .section9 .innerSection .contactUs p {
        text-align: center;
    }
    .section9 .sec9Image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        height: auto !important;
    }
    .section9 .innerSection {
        flex-direction: column;
    }
}

/* Dark Theme CSS */

.DarkTheme {
    background-color: #161616 !important;
    /* .coinMainDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
   }
    */
}
.DarkTheme .navbar {
    background-color: transparent;
    color: white;
}
.DarkTheme .navbar-brand img {
    width: 202.2px;
    height: 73.17px;
}
.DarkTheme .navbar-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.DarkTheme .navbar .nav-link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #fff !important;
}
.DarkTheme .navbar .nav-item {
    margin-left: 64px;
}
.DarkTheme .Login .nav-link {
    width: 180px;
    height: 41px;
    border-radius: 20.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #fff !important;
}
.DarkTheme .SignUp {
    margin-left: 23px !important;
}
.DarkTheme .SignUp .nav-link {
    width: 180px;
    height: 41px;
    border-radius: 20.5px;
    background: transparent;
    border: 1px solid #fff;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.DarkTheme .containDiv {
    max-width: 1408px;
    width: 100%;
}
.DarkTheme .section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.DarkTheme .section1 .sec1Text h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    color: #fff;
}
.DarkTheme .section1 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DarkTheme .section1 .sec1Text p {
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    /* line-height: 12px;
    */
    text-align: left;
    color: #fff;
    opacity: 0.55;
    margin-top: 32px;
}
.DarkTheme .section1 .sec1Text button {
    width: 233px;
    height: 53px;
    border-radius: 26.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border: none;
}
.DarkTheme .section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 158px;
}
.DarkTheme .section2 .innerSection .smallheading {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    opacity: 0.55;
}
.DarkTheme .section2 h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #fff;
}
.DarkTheme .section2 .sec2Des {
    font-family: Poppins;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #fff;
    opacity: 0.55;
}
.DarkTheme .coinMainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 158px;
}
.DarkTheme .coinDiv {
    width: 16%;
    /* padding: 0px 30px;
    */
}
.DarkTheme .coin h3 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    color: #fff;
    margin-bottom: 11px;
}
.DarkTheme .coinDetaol {
    display: flex;
    justify-content: space-between;
}
.DarkTheme .coin img {
    width: 118px;
    height: 118px;
    margin-bottom: 17px;
}
.DarkTheme .coinDetaol .detail p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: left;
    color: #fff;
    opacity: 0.53;
}
.DarkTheme .coinDetaol .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DarkTheme .coinDetaol .price p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-align: right;
    color: #fff;
    margin-bottom: 5px !important;
}
.DarkTheme .centerButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 63px;
}
.DarkTheme .centerButtonDiv button {
    width: 227px;
    height: 45px;
    border-radius: 22.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #fff;
    border: none;
}
.DarkTheme .section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 146.1px;
}
.DarkTheme .section3 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DarkTheme .section3 .sec3Text h5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    opacity: 0.39;
    text-align: left;
}
.DarkTheme .section3 .sec3Text h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #fff;
}
.DarkTheme .section3 .sec3Text p {
    font-family: Poppins;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: #fff;
}
.DarkTheme .section3 .sec3Text button {
    width: 293px;
    height: 55px;
    border-radius: 27.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
}
.DarkTheme .section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 146.1px;
}
.DarkTheme .section4 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DarkTheme .section4 .sec4Text h5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    opacity: 0.39;
    text-align: left;
}
.DarkTheme .section4 .sec4Text h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #fff;
}
.DarkTheme .section4 .sec4Text p {
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #fff;
}
.DarkTheme .section4 .sec4Text button {
    width: 293px;
    height: 55px;
    border-radius: 27.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
}
.DarkTheme .section4 .imageDiv {
    padding: 0px 13px;
}
.DarkTheme .section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.DarkTheme .section5 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DarkTheme .section5 .percents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.DarkTheme .section5 .percents .up {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    color: #fff;
    margin-bottom: 15px;
}
.DarkTheme .section5 .percents h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 90px;
    text-align: left;
    margin-bottom: 14px;
    color: #fff;
}
.DarkTheme .section5 .percents .cryptos {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    color: #fff;
}
.DarkTheme .section5 .percentsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
.DarkTheme .section6 {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 151px;
}
.DarkTheme .section6 .sec6Links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 150px 10px 182px;
}
.DarkTheme .section6 .sec6Links .rowDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.DarkTheme .section6 .sec6Links .linkDiv {
    width: 50%;
}
.DarkTheme .section6 .sec6Links .linkDiv h5,
.DarkTheme .section6 .sec6Links .linkDiv p {
    font-family: Poppins;
    /* font-weight: bold;
    */
    font-size: 30px;
    text-align: left;
    color: #fff;
}
.DarkTheme .section7 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.DarkTheme .section7 .innerSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.DarkTheme .section7 .startTrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
}
.DarkTheme .section7 .startTrade h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #fff;
    margin-bottom: 25px;
}
.DarkTheme .section7 .startTrade .registerBtn {
    width: 376px;
    height: 69px;
    border-radius: 34.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: #fff;
    text-align: center;
    border: none;
    margin-right: 47px;
}
.DarkTheme .section7 .startTrade .tradeBtn {
    width: 376px;
    height: 69px;
    border-radius: 34.5px;
    text-align: center;
    background: #dadada;
    border: 1px solid #707070;
    font-family: Poppins;
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: #343434;
    text-align: center;
    border: none;
}
.DarkTheme footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin-top: 89px;
}
.DarkTheme footer .innerFooter {
    padding: 50px;
}
.DarkTheme footer .footerHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DarkTheme footer .footerHeading img {
    width: 249.93px;
    height: 84px;
}
.DarkTheme footer .footerHeading h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #fff;
}
.DarkTheme .footerLinkDiv {
    display: flex;
    /* align-items: center;
    */
    justify-content: space-between;
    margin-top: 105px;
}
.DarkTheme .footerLinkDiv h2 {
    font-family: Poppins;
    font-size: 29px;
    text-align: left;
    color: #fff !important;
}
.DarkTheme .footerLinkDiv a {
    font-family: Poppins;
    font-size: 25px;
    text-align: left;
    color: #fff !important;
}
.DarkTheme .footerLinkDiv .linkDiv {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    */
    flex-direction: column;
}

@media screen and (max-width: 1500px) {
    .DarkTheme {
        background-color: #161616 !important;
    }
    .DarkTheme .containDiv {
        max-width: unset !important;
        width: 100%;
        padding: 0px 30px;
    }
    .DarkTheme .section1 .sec1Text h2,
    .DarkTheme .section2 h2,
    .DarkTheme .section3 .sec3Text h2,
    .DarkTheme .section4 .sec4Text h2,
    .DarkTheme .section7 .startTrade h2,
    .DarkTheme .footerHeading h2 {
        font-size: 46px !important;
        line-height: 60px !important;
    }
    .DarkTheme .section1 .sec1Text p {
        font-size: 15px;
    }
    .DarkTheme .section1 .sec1Text button {
        width: 213px;
        height: 43px;
        font-size: 18px;
    }
    .DarkTheme .section1 .sec1Text {
        padding: 0px 82px 0px 0px;
    }
    .DarkTheme .sec1Image img {
        width: 566px;
    }
    .DarkTheme .section2 .innerSection .smallheading {
        font-size: 16px;
    }
    .DarkTheme .section2 .sec2Des {
        font-size: 21px;
    }
    .DarkTheme .coin img {
        width: 68px;
        height: 68px;
        margin-bottom: 17px;
    }
    .DarkTheme .coin h3 {
        font-size: 40px;
        margin-bottom: 4px;
        line-height: 40px;
    }
    .DarkTheme .coinDetaol .detail p {
        font-size: 14px;
        line-height: 20px;
    }
    .DarkTheme .coinDetaol .price p {
        font-size: 15px;
        line-height: 19px;
    }
    .DarkTheme .coinDetaol .price svg {
        width: 17px;
    }
    .DarkTheme .coinMainDiv {
        padding: 0px 90px;
    }
    .DarkTheme .section3 .sec3Text h5 {
        font-size: 21px;
    }
    .DarkTheme .section3 .sec3Text p {
        font-size: 16px;
    }
    .DarkTheme .section3 .sec3Text button {
        width: 263px;
        height: 49px;
        font-size: 16px;
    }
    .DarkTheme .sec3Image {
        width: 522px;
    }
    .DarkTheme .sec3Image img {
        width: 100%;
    }
    .DarkTheme .section4 .sec4Text h5 {
        font-size: 21px;
    }
    .DarkTheme .section4 .sec4Text p {
        font-size: 16px;
    }
    .DarkTheme .section4 .sec4Text button {
        width: 263px;
        height: 49px;
        font-size: 16px;
    }
    .DarkTheme .sec4Image {
        width: 522px;
    }
    .DarkTheme .sec4Image img {
        width: 100%;
    }
    .DarkTheme .section5 .percents .up {
        font-size: 15px;
        margin: 5px;
    }
    .DarkTheme .section5 .innerSection {
        padding: 0px 90px;
    }
    .DarkTheme .section5 .percents h2 {
        font-size: 60px;
        margin: 4px;
    }
    .DarkTheme .section5 .percents .cryptos {
        font-size: 21px;
    }
    .DarkTheme .percentsDiv svg {
        width: 30px;
    }
    .DarkTheme .section6 .sec6Links {
        padding: 100px 40px;
    }
    .DarkTheme .section6 .sec6Links .linkDiv h5,
    .DarkTheme .section6 .sec6Links .linkDiv p {
        font-size: 20px;
    }
    .DarkTheme .sec6Image img {
        width: 680px;
    }
    .DarkTheme .section7 .startTrade .registerBtn,
    .DarkTheme .section7 .startTrade .tradeBtn {
        width: 256px;
        height: 55px;
        font-size: 20px;
    }
    .DarkTheme .footerLinkDiv h2 {
        font-size: 23px;
    }
    .DarkTheme .footerLinkDiv a {
        font-size: 17px;
    }
    .DarkTheme footer .footerHeading img {
        width: 199.93px;
        height: auto;
    }
    .DarkTheme .section6 .innerSection {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .DarkTheme .sec6Links {
        width: 80%;
    }
    .DarkTheme .navbar .nav-item {
        margin-left: 34px;
    }
}
@media screen and (max-width: 600px) {
    .DarkTheme .section1 .innerSection {
        flex-direction: column-reverse;
    }
    .DarkTheme .sec1Image img {
        width: 100%;
    }
    .DarkTheme .section5 .innerSection {
        flex-direction: column;
    }
    .DarkTheme .section5 .percents .cryptos {
        text-align: center;
    }
    .DarkTheme .sec6Image img {
        width: 100%;
    }
    .DarkTheme footer .footerHeading {
        flex-direction: column;
    }
    .DarkTheme .footerLinkDiv {
        flex-wrap: wrap;
    }
    .DarkTheme .section1 .sec1Text {
        padding: 0px;
    }
    .DarkTheme .section1 .sec1Text h2,
    .DarkTheme .section2 h2,
    .DarkTheme .section3 .sec3Text h2,
    .DarkTheme .section4 .sec4Text h2,
    .DarkTheme .section7 .startTrade h2,
    .DarkTheme .footerHeading h2 {
        text-align: center !important;
        font-size: 31px !important;
        line-height: 36px !important;
        margin-top: 20px;
    }
    .DarkTheme .section1 .sec1Text p {
        text-align: center;
    }
    .DarkTheme .sec1Text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .DarkTheme .section2 {
        margin-top: 48px;
    }
    .DarkTheme .coinMainDiv {
        flex-wrap: wrap;
        padding: 0px;
    }
    .DarkTheme .coinDiv {
        width: 43%;
        padding: 0px;
        margin: 10px;
    }
    .DarkTheme .coin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .DarkTheme .section3 {
        margin-top: 66px;
    }
    .DarkTheme .section3 .innerSection {
        flex-direction: column-reverse;
    }
    .DarkTheme .sec3Image {
        width: 100%;
    }
    .DarkTheme .section3 .sec3Text,
    .DarkTheme .sec4Text {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* align-items: center;
        */
    }
    .DarkTheme .section3 .sec3Text h5 {
        text-align: center;
    }
    .DarkTheme .section3 .sec3Text p {
        text-align: center;
    }
    .DarkTheme .section4 {
        margin-top: 66px;
    }
    .DarkTheme .section4 .innerSection {
        flex-direction: column;
    }
    .DarkTheme .section4 .sec4Image {
        width: 100%;
    }
    .DarkTheme .sec4Text p {
        text-align: center !important;
    }
    .DarkTheme .section5 .innerSection {
        padding: auto !important;
    }
    .DarkTheme .section6 .sec6Links {
        padding: 40px 0px !important;
        width: 100%;
    }
    .DarkTheme .section6 .sec6Links .rowDiv {
        align-items: flex-start !important;
    }
    .DarkTheme .section6 .sec6Links .linkDiv h5,
    .DarkTheme .section6 .sec6Links .linkDiv p {
        font-size: 15px;
    }
    .DarkTheme .tradeBtnDiv {
        display: flex;
    }
    .DarkTheme .section7 .startTrade .registerBtn {
        margin-right: 7px;
    }
    .DarkTheme .section7 .startTrade .registerBtn,
    .DarkTheme .section7 .startTrade .tradeBtn {
        width: 156px;
        height: 45px;
        font-size: 16px;
    }
    .DarkTheme .section6 {
        margin-top: 60px;
    }
    .DarkTheme footer .footerHeading img {
        width: 160px;
    }
    .DarkTheme footer .innerFooter {
        padding: 50px 30px;
    }
    .DarkTheme footer .innerFooter {
        padding: 50px 20px;
    }
    .DarkTheme .footerLinkDiv .linkDiv {
        width: 50%;
        margin-bottom: 20px;
    }
    .DarkTheme .nav-item.Login {
        margin-left: 23px;
        margin-bottom: 10px;
    }
    .DarkTheme .navbar-text {
        justify-content: flex-start;
    }
    .DarkTheme .container-fluid.containDiv {
        padding: 0px;
    }
    .DarkTheme .navbar-light .navbar-text {
        box-shadow: 0px 29px 25px -37px black;
    }
    .DarkTheme .navbar-toggler.collapsed {
        margin-right: 10px;
    }
    .DarkTheme .navbar-brand {
        padding: 10px;
    }
}
