@font-face {
    font-family: Poppins;
    src: url(./font/Poppins/Poppins-Regular.ttf);
}
* {
    margin: 0px;
    margin-bottom: 0px;
    font-family: Poppins;
}
body {
    background-color: #080c48 !important;
}
.navbar {
    background-color: transparent;
    color: white;
}
.navbar-brand img {
    width: 202.2px;
    height: 73.17px;
}
.navbar-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar .nav-link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #fff !important;
}
.navbar .nav-item {
    margin-left: 64px;
}
.Login .nav-link {
    width: 180px;
    height: 41px;
    border-radius: 20.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #fff !important;
}
.SignUp {
    margin-left: 23px !important;
}
.SignUp .nav-link {
    width: 180px;
    height: 41px;
    border-radius: 20.5px;
    background: transparent;
    border: 1px solid #fff;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.containDiv {
    max-width: 1408px;
    width: 100%;
}
.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.section1 .sec1Text h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    color: #fff;
}
.section1 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section1 .sec1Text p {
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    /* line-height: 12px; */
    text-align: left;
    color: #fff;
    opacity: 0.55;
    margin-top: 32px;
}
.section1 .sec1Text button {
    width: 233px;
    height: 53px;
    border-radius: 26.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border: none;
}
.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 158px;
}
.section2 .innerSection .smallheading {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    opacity: 0.55;
}
.section2 h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #fff;
}
.section2 .sec2Des {
    font-family: Poppins;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #fff;
    opacity: 0.55;
}
.coinMainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 158px;
}
.coinDiv {
    width: 16%;
    /* padding: 0px 30px; */
}
/* .coinMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
} */
.coin h3 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    color: #fff;
    margin-bottom: 11px;
}
.coinDetaol {
    display: flex;
    justify-content: space-between;
}
.coin img {
    width: 118px;
    height: 118px;
    margin-bottom: 17px;
}
.coinDetaol .detail p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: left;
    color: #fff;
    opacity: 0.53;
}
.coinDetaol .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coinDetaol .price p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-align: right;
    color: #fff;
    margin-bottom: 5px !important;
}
.centerButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 63px;
}
.centerButtonDiv button {
    width: 227px;
    height: 45px;
    border-radius: 22.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #fff;
    border: none;
}
.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 146.1px;
}
.section3 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section3 .sec3Text h5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    opacity: 0.39;
    text-align: left;
}
.section3 .sec3Text h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #fff;
}
.section3 .sec3Text p {
    font-family: Poppins;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: #fff;
}
.section3 .sec3Text button {
    width: 293px;
    height: 55px;
    border-radius: 27.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
}

.section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 146.1px;
}
.section4 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section4 .sec4Text h5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    opacity: 0.39;
    text-align: left;
}
.section4 .sec4Text h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #fff;
}
.section4 .sec4Text p {
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #fff;
}
.section4 .sec4Text button {
    width: 293px;
    height: 55px;
    border-radius: 27.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
}
.section4 .imageDiv {
    padding: 0px 13px;
}

.section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.section5 .innerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section5 .percents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.section5 .percents .up {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    color: #fff;
    margin-bottom: 15px;
}
.section5 .percents h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 90px;
    text-align: left;
    margin-bottom: 14px;
    color: #fff;
}
.section5 .percents .cryptos {
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    color: #fff;
}

.section5 .percentsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section6 {
    background-color: #030639;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 151px;
}
.section6 .sec6Links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 150px 10px 182px;
}
.section6 .sec6Links .rowDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.section6 .sec6Links .linkDiv {
    width: 50%;
}
.section6 .sec6Links .linkDiv h5,
.section6 .sec6Links .linkDiv p {
    font-family: Poppins;
    /* font-weight: bold; */
    font-size: 30px;
    text-align: left;
    color: #fff;
}
.section7 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section7 .innerSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section7 .startTrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
}

.section7 .startTrade h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #fff;
    margin-bottom: 25px;
}
.section7 .startTrade .registerBtn {
    width: 376px;
    height: 69px;
    border-radius: 34.5px;
    background: linear-gradient(
        #176aff 0.1%,
        #166dff 20.89%,
        #1379ff 41.01%,
        #0e8dff 60.88%,
        #08a8ff 80.45%,
        #00cbff 99.87%
    );
    font-family: Poppins;
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: #fff;
    text-align: center;
    border: none;
    margin-right: 47px;
}
.section7 .startTrade .tradeBtn {
    width: 376px;
    height: 69px;
    border-radius: 34.5px;
    text-align: center;
    background: #dadada;
    border: 1px solid #707070;
    font-family: Poppins;
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: #343434;
    text-align: center;
    border: none;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #030639;
    margin-top: 89px;
}
footer .innerFooter {
    padding: 50px;
}
footer .footerHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .footerHeading img {
    width: 249.93px;
    height: 84px;
}
footer .footerHeading h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #fff;
}
.footerLinkDiv {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 105px;
}
.footerLinkDiv h2 {
    font-family: Poppins;
    font-size: 29px;
    text-align: left;
    color: #fff !important;
}
.footerLinkDiv a {
    font-family: Poppins;
    font-size: 25px;
    text-align: left;
    color: #fff !important;
}
.footerLinkDiv .linkDiv {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex-direction: column;
}

@media screen and (max-width: 1500px) {
    .containDiv {
        max-width: unset !important;
        width: 100%;

        padding: 0px 30px;
    }
    .section1 .sec1Text h2,
    .section2 h2,
    .section3 .sec3Text h2,
    .section4 .sec4Text h2,
    .section7 .startTrade h2,
    .footerHeading h2 {
        font-size: 46px !important;
        line-height: 60px !important;
    }
    .section1 .sec1Text p {
        font-size: 15px;
    }
    .section1 .sec1Text button {
        width: 213px;
        height: 43px;
        font-size: 18px;
    }
    .section1 .sec1Text {
        padding: 0px 82px 0px 0px;
    }
    .sec1Image {
    }
    .sec1Image img {
        width: 566px;
    }
    .section2 .innerSection .smallheading {
        font-size: 16px;
    }
    .section2 .sec2Des {
        font-size: 21px;
    }
    .coin img {
        width: 68px;
        height: 68px;
        margin-bottom: 17px;
    }
    .coin h3 {
        font-size: 40px;
        margin-bottom: 4px;
        line-height: 40px;
    }
    .coinDetaol .detail p {
        font-size: 14px;
        line-height: 20px;
    }
    .coinDetaol .price p {
        font-size: 15px;
        line-height: 19px;
    }
    .coinDetaol .price svg {
        width: 17px;
    }
    .coinMainDiv {
        padding: 0px 90px;
    }
    .section3 .sec3Text h5 {
        font-size: 21px;
    }
    .section3 .sec3Text p {
        font-size: 16px;
    }
    .section3 .sec3Text button {
        width: 263px;
        height: 49px;
        font-size: 16px;
    }
    .sec3Image {
        width: 522px;
    }
    .sec3Image img {
        width: 100%;
    }
    .section4 .sec4Text h5 {
        font-size: 21px;
    }
    .section4 .sec4Text p {
        font-size: 16px;
    }
    .section4 .sec4Text button {
        width: 263px;
        height: 49px;
        font-size: 16px;
    }
    .sec4Image {
        width: 522px;
    }
    .sec4Image img {
        width: 100%;
    }
    .section5 .percents .up {
        font-size: 15px;
        margin: 5px;
    }
    .section5 .innerSection {
        padding: 0px 90px;
    }
    .section5 .percents h2 {
        font-size: 60px;
        margin: 4px;
    }
    .section5 .percents .cryptos {
        font-size: 21px;
    }
    .percentsDiv svg {
        width: 30px;
    }
    .section6 .sec6Links {
        padding: 100px 40px;
    }
    .section6 .sec6Links .linkDiv h5,
    .section6 .sec6Links .linkDiv p {
        font-size: 20px;
    }
    .sec6Image img {
        width: 680px;
    }
    .section7 .startTrade .registerBtn,
    .section7 .startTrade .tradeBtn {
        width: 256px;
        height: 55px;
        font-size: 20px;
    }
    .footerLinkDiv h2 {
        font-size: 23px;
    }
    .footerLinkDiv a {
        font-size: 17px;
    }
    footer .footerHeading img {
        width: 199.93px;
        height: auto;
    }
    .section6 .innerSection {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sec6Links {
        width: 80%;
    }
    .navbar .nav-item {
        margin-left: 34px;
    }
}
@media screen and (max-width: 600px) {
    .section1 .innerSection {
        flex-direction: column-reverse;
    }
    .sec1Image img {
        width: 100%;
    }
    .section5 .innerSection {
        flex-direction: column;
    }
    .section5 .percents .cryptos {
        text-align: center;
    }
    .sec6Image img {
        width: 100%;
    }
    footer .footerHeading {
        flex-direction: column;
    }
    .footerLinkDiv {
        flex-wrap: wrap;
    }
    .section1 .sec1Text {
        padding: 0px;
    }
    .section1 .sec1Text h2,
    .section2 h2,
    .section3 .sec3Text h2,
    .section4 .sec4Text h2,
    .section7 .startTrade h2,
    .footerHeading h2 {
        text-align: center !important;
        font-size: 31px !important;
        line-height: 36px !important;
        margin-top: 20px;
    }
    .section1 .sec1Text p {
        text-align: center;
    }
    .sec1Text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section2 {
        margin-top: 48px;
    }
    .coinMainDiv {
        flex-wrap: wrap;
        padding: 0px;
    }
    .coinDiv {
        width: 43%;
        padding: 0px;
        margin: 10px;
    }
    .coin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section3 {
        margin-top: 66px;
    }
    .section3 .innerSection {
        flex-direction: column-reverse;
    }
    .sec3Image {
        width: 100%;
    }
    .section3 .sec3Text,
    .sec4Text {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* align-items: center; */
    }
    .section3 .sec3Text h5 {
        text-align: center;
    }
    .section3 .sec3Text p {
        text-align: center;
    }
    .section4 {
        margin-top: 66px;
    }
    .section4 .innerSection {
        flex-direction: column;
    }
    .section4 .sec4Image {
        width: 100%;
    }
    .sec4Text p {
        text-align: center !important;
    }
    .section5 .innerSection {
        padding: auto !important;
    }
    .section6 .sec6Links {
        padding: 40px 0px !important;
        width: 100%;
    }
    .section6 .sec6Links .rowDiv {
        align-items: flex-start !important;
    }
    .section6 .sec6Links .linkDiv h5,
    .section6 .sec6Links .linkDiv p {
        font-size: 15px;
    }
    .tradeBtnDiv {
        display: flex;
    }
    .section7 .startTrade .registerBtn {
        margin-right: 7px;
    }
    .section7 .startTrade .registerBtn,
    .section7 .startTrade .tradeBtn {
        width: 156px;
        height: 45px;
        font-size: 16px;
    }
    .section6 {
        margin-top: 60px;
    }
    footer .footerHeading img {
        width: 160px;
    }
    footer .innerFooter {
        padding: 50px 30px;
    }
    footer .innerFooter {
        padding: 50px 20px;
    }
    .footerLinkDiv .linkDiv {
        width: 50%;
        margin-bottom: 20px;
    }
    .nav-item.Login {
        margin-left: 23px;
        margin-bottom: 10px;
    }
    .navbar-text {
        justify-content: flex-start;
    }
    .container-fluid.containDiv {
        padding: 0px;
    }
    .navbar-light .navbar-text {
        box-shadow: 0px 29px 25px -37px black;
    }
    .navbar-toggler.collapsed {
        margin-right: 10px;
    }
    .navbar-brand{
        padding: 10px;
    }
}
